language: r
sudo: required
r_packages:
- roxygen2
- microbenchmark
- rmarkdown
r_github_packages:
- hadley/ggplot2
- analyticalmonk/Rperform
before_script:
- source ./.run_Rperform.sh
env:
  global:
  - secure: "DKtsbqSr+Q1zGbm7/NukacRF7HBu6c0EpWdu1UN3Lk6vsz3mvadWkFDN/BiE0VglWcasVBRAI4MqGjwdXY4BAKj7HmmJANTrIun9Y2TZYMDyiDkTrgJyRe7YSbcbg59F7qitsbR1hHNzd561Jz88opBbNkW249JWdPqKjzTqRRtTUpMDkvPkbEBYxE6yPW6glHt5yyiFAf8S6OahbJTHAQBQgr4DN0FNJPe/y/QoPvcyS8NhAfoK0xkWMTE5TbVy4GGgYdaXdbkZ0RGvEe91nCvbvCKkAIYFbt/xkMJBWl5znwwz7Fn+06kKN+zCXMHun+O4DSiENtrzI4F9WgND9Yk282FITztApw1gZtEdMcN3xnzm4DDiEcZbXvrhmpgYcgB+GGwG+M4wu0/ZtYrIBKUCav7QOj39CxXa/eZwVyGeDTSJOTOUcJxqKTGs4Ss3YrpuEfazfkx0PMISkceq/z39I6FThutirO1x3YoYpJfjpm3UzT7RxGTjDTXyKHXet6yGPqpOXO/+pVAazRfT4+ep5vCKs2HNU+ZF8LgslCdJFU++XP3A5fDA2X6vslTqbwU3+6reSaOPBwJjxulKVRJEhNkXP5Wib4LruAJQ3mtjjdLWMUu5XQVtMG6qWjglmPgaoeh8K0fcFayh94Xl5pLY1h3i2/xKRms7UxF0k28="
  - USER_EMAIL="akashtndn.acm@gmail.com"
  - USER_NAME="analyticalmonk"
